<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/cc697e3d-ceb2-4fd4-b77f-6d96211d127c/resourceGroups/chamuscopolis/providers/Microsoft.Web/sites/chamuscopolis</ResourceId>
    <ResourceGroup>chamuscopolis</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://chamuscopolis.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>chamuscopolis.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>chamuscopolis</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$chamuscopolis</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="prosgEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=68.183.26.129;Initial Catalog=prosg;Persist Security Info=True;User ID=theone;Password=uRl.2018" Name="server=68.183.26.129;user id=theone;password=uRl.2018;persistsecurityinfo=True;database=prosg" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Chamuscopolis.Models.prosgEntities, Chamuscopolis" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AuthChamuscopolis" Order="2" Enabled="False">
          <Destination Path="Data Source=104.248.239.45;Initial Catalog=Auth;User ID=sa;Password=uRl.2018;Application Name=EntityFramework" Name="Data Source=104.248.239.45;Initial Catalog=Auth;User ID=sa;Password=uRl.2018;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Chamuscopolis.Models.AuthChamuscopolis, Chamuscopolis" MigrationConfiguration="Chamuscopolis.Migrations.Configuration, Chamuscopolis" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Chamuscopolis-20181007070229.mdf;Initial Catalog=aspnet-Chamuscopolis-20181007070229;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Chamuscopolis-20181007070229.mdf;Initial Catalog=aspnet-Chamuscopolis-20181007070229;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="AuthChamuscopolis-Web.config Connection String">
      <ParameterValue>Data Source=104.248.239.45;Initial Catalog=Auth;User ID=sa;Password=uRl.2018;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="prosgEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.DBChamuscopolis.csdl|res://*/Models.DBChamuscopolis.ssdl|res://*/Models.DBChamuscopolis.msl;provider=MySql.Data.MySqlClient;provider connection string="server=68.183.26.129;user id=theone;password=uRl.2018;persistsecurityinfo=True;database=prosg"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>